{% include 'header.html' %}
<div class="container container-fluid">
    <form action="/student/add/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="account">帳號</label>
            <input type="text" id="account" name="account" class="form-control" value="{{ data.account }}" />
            {% if errors.account %}
            <div class="alert alert-danger">請輸入帳號</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="password">密碼</label>
            <input type="password" id="password" name="password" class="form-control" value="" />
            {% if errors.password %}
            <div class="alert alert-danger">請輸入密碼</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="name">姓名</label>
            <input type="text" id="name" name="name" class="form-control" value="{{ data.name }}" />
            {% if errors.name %}
            <div class="alert alert-danger">請輸入姓名</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="gender">姓別</label>
            <select id="gender" name="gender" class="form-control">
                {% if 'M' == data.gender %}
                <option value="M" selected="selected">男</option>
                {% else %}
                <option value="M">男</option>
                {% endif %}
                {% if 'F' == data.gender %}
                <option value="F" selected="selected">女</option>
                {% else %}
                <option value="F">女</option>
                {% endif %}
            </select>
            {% if errors.gender %}
            <div class="alert alert-danger">請選擇性別</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="born">生日</label>
            <input type="date" id="born" name="born" class="form-control" value="{{ data.born }}" />
            {% if errors.born %}
            <div class="alert alert-danger">請輸入生日</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="email">信箱</label>
            <input type="email" id="email" name="email" class="form-control" value="{{ data.email }}" />
            {% if errors.email %}
            <div class="alert alert-danger">請輸入信箱</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="phone">電話</label>
            <input type="text" id="phone" name="phone" class="form-control" value="{{ data.phone }}" />
            {% if errors.phone %}
            <div class="alert alert-danger">請輸入電話</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="country">國家</label>
            <input type="text" id="country" name="country" class="form-control" value="{{ data.country }}" />
            {% if errors.country %}
            <div class="alert alert-danger">請輸入國家</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="city">縣市</label>
            <input type="text" id="city" name="city" class="form-control" value="{{ data.city }}" />
            {% if errors.city %}
            <div class="alert alert-danger">請輸入縣市</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="area">區域</label>
            <input type="text" id="area" name="area" class="form-control" value="{{ data.area }}" />
            {% if errors.area %}
            <div class="alert alert-danger">請輸入區域</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="address">地址</label>
            <input type="text" id="address" name="address" class="form-control" value="{{ data.address }}" />
            {% if errors.address %}
            <div class="alert alert-danger">請輸入地址</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="zip">郵遞區號</label>
            <input type="text" id="zip" name="zip" class="form-control" value="{{ data.zip }}" />
            {% if errors.zip %}
            <div class="alert alert-danger">請輸入郵遞區號</div>
            {% endif %}
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">送出</button>
        </div>
    </form>
</div>
{% include 'footer.html' %}
